@font-face {
    font-family: 'Noto Snas KR';
    src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap);
}

*{
    margin:0;
    list-style: none;
    font-size: 0;
    font-family: 'Noto Sans KR';
  }


  nav{
    height: 93px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-bottom: 8px;
}
nav ul{
    width: 620px;
    display: flex;
    justify-content: space-between;
}

li:after{
  display:block;
  content: '';
  border-bottom: solid 4px #dbc501;
  transform: scaleX(0);
  transition: transform 350ms ease-in-out;
}
li:hover:after {transform: scaleX(1);}

nav ul li a{
    display: block;
    width: 80px;
    text-align: center;
    font-family: "din-condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -1px;
    color: white;
    text-decoration: none;
}

nav ul h1 a{
  display: block;
  width: 80px;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: white;
  text-decoration: none;
}

h1:after{
    display:block;
    content: '';
    border-bottom: solid 4px #dbc501;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
  }
  h1:hover:after {transform: scaleX(1);}

.box1{
  position: relative;
  text-align: center;
  background-color: black;
  background-size: 100vw;
}

.box1 h2{
  position: absolute;
  text-align: center;
  left: 50%; transform:
  translateX(-50%);
  top: 165px;
}

.box1 h3{position: absolute;
  text-align: center;
  width: 1050px;
   left: 50%; transform:
 translateX(-50%);
  margin-top: 630px;
 color: rgb(199, 199, 199);
 font-size: 15px;
 Font-weight: 100;
}

.box1 h4{position: absolute;
  text-align: center;
  width: 1050px;
   left: 50%; transform:
 translateX(-50%);
  margin-top: 650px;
 color: white;
 font-size: 19px;
 Font-weight: 600;
}

.box1 h5{position: absolute;
  text-align: center;
  width: 1050px;
   left: 50%; transform:
 translateX(-50%);
  margin-top: 720px;
 color: rgb(199, 199, 199);
 font-size: 15px;
 Font-weight: 100;
}

.box1 h6{position: absolute;
  text-align: center;
  width: 1050px;
   left: 50%; transform:
 translateX(-50%);
  margin-top: 740px;
 color: white;
 font-size: 19px;
 Font-weight: 600;
}

.box2{
  position: relative;
  text-align: center;
  background-color: black;
  background-size: 100vw;
  margin-bottom: 25px;
}

.box2 .com01
{position: absolute;
  text-align: center;
  width: 1050px;
  top: 130px;
  font-size: 14px;
  Font-weight: 100;
  color: rgb(212, 212, 212);
  left: 100px;
}

.box2 .com02
{position: absolute;
  text-align: center;
  width: 1050px;
   left: 50%; transform:
 translateX(-50%);
  top: 150px;
}

.box2 .com03
{position: absolute;
  text-align: center;
  width: 1050px;
  left: 50%; transform:
  translateX(-50%);
  top: 1050px;
}
.box2 .com04
{position: absolute;
  text-align: center;
  width: 1050px;
  left: 50%; transform:
  translateX(-50%);
  top: 1940px;
}
.box2 .com05
{position: absolute;
  text-align: center;
  width: 1050px;
  left: 50%; transform:
  translateX(-50%);
  top: 2845px;
}

  .down{
    text-align: center;
    margin-bottom: 25px;
    
  }

